<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Patient</title>
</head>
<body>

<h1>Add new Patient</h1>


<form method="post" th:action="@{/patient/add}"
      th:object="${patient}">
    <table>
        <tr>
            <td>Name</td>
            <td><input name="name" required type="text"/></td>
        </tr>

        <tr>
            <td>Age</td>
            <td><input max="150" min="1" name="age" required type="number"/></td>
        </tr>

        <select th:field="*{doctor}">
            <option value="0">select doctor</option>
            <option th:each="doctor : ${doctors}"
                    th:text="${doctor.name}"
                    th:value="${doctor.id}">

            </option>
        </select>

        <select  th:field="*{receipt}">
            <option value="0">select receipt</option>
            <option th:each="receipt : ${receipts}"
                    th:text="${receipt.name}"
                    th:value="${receipt.id}">
            </option>
        </select>
        
    </table>
    <input type="submit" value="Submit"/>
</form>


</body>
</html>