<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Patient</title>
</head>
<body>

<h1>Add new Patient</h1>


<!--<form th:action="@{/patient/add}" th:object="${addPatient}"-->
<!--      method="post">-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>Name</td>-->
<!--            <td><input name="name" required type="text"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Price</td>-->
<!--            <td><input max="9999" min="1" name="price" required type="number"/></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--    <input type="submit" value="Submit"/>-->
<!--</form>-->


</body>
</html>