<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>doctors</title>
</head>
<body>
<h1>Doctor</h1>

<br>

<table>
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Patients</th>


    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
        <td th:text="${doctor.id}"></td>
        <td th:text="${doctor.name+ ' ||' }"></td>
        <td
                th:each="patient: ${doctor.patients}"
                th:text="${patient.name+ ','}">
        </td>
        <! Remove later, only for demo purpose >
        <td><a href="#" th:href="@{/doctor/{id}(id=${doctor.id})}"  >Show Doctor</a></td>


    </tr>


    </tbody>

</table>

</body>
</html>