<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>doctors</title>
    <link th:href="@{/tables.css}" rel="stylesheet" />
</head>
<body>

<br>

<h1>Doctors</h1>
<br><br><br><br><br>


<table class="center">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Patients</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
        <td th:text="${doctor.id}"></td>
        <td th:text="${doctor.name}"></td>
        <td
                th:each="patient: ${doctor.patients}"
                th:text="${patient.name}">
        </td>
<!--         Remove later, only for demo purpose -->
<!--        <td><a href="#" th:href="@{/doctor/{id}(id=${doctor.id})}">View</a></td>-->


    </tr>


    </tbody>

</table>
<br>
<div class="addLink">
    <a th:href="@{/doctor/add}" class="addNew" >Add New Doctor</a> <br>
</div>



</body>
</html>