<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>patients</title>
</head>
<body>
<h1>Patients</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Doctor</th>
        <th>Receipt</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.id}"></td>
        <td th:text="${patient.name}"></td>
        <td th:text="${patient.age}"></td>
        <td th:text="${patient.doctor.name}"></td>
        <td th:text="${patient.receipt}"></td>  <!  Only works with toString need a bidirectional onetoone for better solution? >

        <td><a href="#" th:href="@{/patient/{id}(id=${patient.id})}">View</a></td>

    </tr>
    </tbody>

</table>

</body>
</html>