<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>patients</title>
    <link th:href="@{/tables.css}" rel="stylesheet" />

</head>
<body>
<h1>Patients</h1>
<br><br><br><br><br>

<table class="center">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Doctor</th>
        <th>Receipt</th>
        <th colspan="10"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.id}"></td>
        <td th:text="${patient.name}"></td>
        <td th:text="${patient.age}"></td>
        <td th:text="${patient.doctor?.name}"></td>
        <td th:text="${patient.receipt?.name}"></td>

        <td><a href="#" th:href="@{/patient/{id}(id=${patient.id})}">View</a></td>
        <td><a href="#" th:href="@{/patient/edit/{id}(id=${patient.id})}">Update</a></td>
        <td><a href="#" th:href="@{/patient/delete/{id}(id=${patient.id})}">Delete</a></td>



    </tr>
    </tbody>

</table>

<div class="addLink">
<br> <a th:href="@{/patient/add}" class="addNew" >Add New Patient</a> <br> <br>
</div>

<div class="addLink">
    <a th:href="@{/}" class="addNew">Return to main page</a> <br>
</div>

</body>
</html>