<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>receipts</title>
</head>
<body>
<h1>Receipts</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="receipt : ${receipts}">
        <td th:text="${receipt.id}"></td>
        <td th:text="${receipt.name}"></td>
        <td th:text="${receipt.price}"></td>

        <td><a href="#" th:href="@{/receipt/{id}(id=${receipt.id})}">View</a></td>
        <td><a href="#" th:href="@{/receipt/{id}/update(id=${receipt.id})}">Update</a></td>


    </tr>
    </tbody>

</table>

</body>
</html>