<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>receipts</title>
    <link th:href="@{/tables.css}" rel="stylesheet" />

</head>
<body>
<h1>Receipts</h1>
<br><br><br><br><br>




<table class="center">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th colspan="10"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="receipt : ${receipts}">
        <td th:text="${receipt.id}"></td>
        <td th:text="${receipt.name}"></td>
        <td th:text="${receipt.price}"></td>

        <td><a href="#" th:href="@{/receipt/{id}(id=${receipt.id})}">View</a></td>
        <td><a href="#" th:href="@{/receipt/{id}/update(id=${receipt.id})}">Update</a></td>
        <td><a href="#" th:href="@{/receipt/delete/{id}(id=${receipt.id})}">Delete</a></td>



    </tr>
    </tbody>

</table>

<div class="addLink">
<br> <a th:href="@{/receipt/add}" class="addNew" >Add New Receipt</a> <br> <br>
</div>

<div class="addLink">
    <a th:href="@{/}" class="addNew">Return to main page</a> <br>
</div>


</body>
</html>