<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Patient</title>
</head>
<body>
<h1>Update Patient</h1>


<!--it uses the getUpdatePatient post methond on edit/id's Patient patient object here -->
<form method="post" th:action="@{/patient/edit/{id}(id=${patient.getId()})}"
                    th:object="${patient}">


    <label> Id:</label> <br> <br>
    <input disabled="disabled" name="id" required th:value="${patient.getId()}" type="text"/> <br> <br>
    <!--    <p>Id: <input type="text" th:field="*{id}" /></p>-->


    <label> Name:</label> <br> <br>
    <input name="name" required th:value="${patient.getName()}" type="text"/> <br> <br>

    <label> Age:</label> <br> <br>
    <input max="150" min="1" name="age" required th:value="${patient.getAge}" type="number"/> <br> <br>

    <select th:field="*{doctor}">
        <option th:value="${patient.doctor.id}" th:text="${patient.doctor.name}"></option>
<!--        the doctors dont load for some reason-->
        <option th:each="doctor : ${doctors}"
                th:text="${doctor.name}"
                th:value="${doctor.id}">

        </option>
    </select> <br>



    <input type="submit" value="Update Patient"> <br> <br>
</form>


</body>
</html>

