

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Receipt</title>
</head>
<body>
<h1>Update Receipt</h1>

<!--<form method="post" name="receiptForm" th:action="@{/receipt/{id}(id=${receipt.getId()})}">-->
<form method="post" th:action="@{/receipt/edit/{id}(id=${receipt.getId()})}" th:object="${addReceipt}">


    <label> Id:</label> <br> <br>
    <input disabled="disabled" name="id" required th:value="${receipt.getId()}" type="text"/> <br> <br>


    <label> Name:</label> <br> <br>
    <input name="name" required th:value="${receipt.getName()}" type="text"/> <br> <br>

    <label> Price:</label> <br> <br>
    <input max="9999" min="1" name="price" required th:value="${receipt.getPrice}" type="text"/> <br> <br>

    <!--    <label for="userstory">User Story:</label> <br> <br>-->
    <!--    <textarea id="userstory" th:text="${story.getUserStory()}" name="userstory" rows="4" cols="50"   minlength="1" maxlength="400"  required></textarea> <br> <br>-->

    <!--    <label for="acceptancecriteria">Acceptance Criteria:</label> <br> <br>-->
    <!--    <textarea id="acceptancecriteria" th:text="${story.getAcceptanceCriteria()}" name="acceptancecriteria" rows="4" cols="50"   minlength="1" maxlength="400"  required></textarea> <br> <br>-->

    <!--    <label for="businessvalue">Business value:</label> <br> <br>-->
    <!--    <input type="number" th:value="${story.getBusinessValue()}" id="businessvalue" name="businessvalue"   min="0.5" max="40.0" step="0.5" required/> <br> <br>-->

    <!--    <label for="estimation">Estimation:</label> <br> <br>-->
    <!--    <input type="text" th:value="${story.getEstimation()}" id="estimation" name="estimation"  required /><br> <br>-->

    <!--    <label for="status">Status</label>-->
    <!--    <select name="status" id="status">-->
    <!--        <option value="planning" th:selected="'planning' == ${story.getStatus()}">planning</option>-->
    <!--        <option value="todo" th:selected="'todo' == ${story.getStatus()}">todo</option>-->
    <!--        <option value="in progress" th:selected="'in progress' == ${story.getStatus()}">in progress</option>-->
    <!--        <option value="review" th:selected="'review' == ${story.getStatus()}">review</option>-->
<!--        <option value="done" th:selected="'done' == ${story.getStatus()}">done</option>-->
<!--    </select> <br> <br>-->

    <input type="submit" value="Update Receipt"> <br> <br>
</form>


</body>
</html>

